<p id="notice"><%= notice %></p>

<p>
  <strong>Organization name:</strong>
  <%= @bank_account.organization_name %>
</p>

<p>
  <strong>Balance cents:</strong>
  <%= @bank_account.balance_cents %>
</p>

<p>
  <strong>Iban:</strong>
  <%= @bank_account.iban %>
</p>

<p>
  <strong>Bic:</strong>
  <%= @bank_account.bic %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
